<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-python">Introduction to Data</h3>
    <ul>
      <li>Intro to data</li>
      <li>Jargon busting</li>
      <li>Plain text formats</li>
      <li><a href="https://librarycarpentry.github.io/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and directories</li>
      <li>History and tab completion</li>
      <li>Counting and sorting contents in files</li>
      <li>Pipes and redirection</li>
      <li>Mining or searching in files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-r">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing data</li>
        <li>Basic functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.github.io/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
